

#card,#summit,#Confirm_product {
    background: cornsilk;
    display: none;
    position: fixed;
    left: 39%;
    top:30%;
    z-index: 99;
    padding: 15px 15px;
    opacity: 100%;
}
#card p,#summit{
    font-size: 35px;
}

.card_cf{
    text-align: center;
}

.card_confirm{
    margin-left: 17px;
    font-size: 16px;
    font-weight: bold;
}

#Confirm_product{
    text-align: center;
}
input{
    outline: none;
    background: rgb(255, 254, 254);
    border-color: white;
    border: 0;
    padding: 6px 0 7px;
    border-bottom: 1px solid black; ;
}

.tb1 tr td{
    margin: 5px;
    padding:4px 5px;
}