// css header
header{
    height: var(--height-header);
    z-index: 7;
    position: relative;
    .container-fluid{
        height: 100%;
        display: flex;
        align-items: center;
        .left{
            height: 100%;
            display: flex;
            align-items: center;
            a{
                margin-right: 30px;
                @include text(1.1rem, arb, 3rem, $black-cl, none); // tuỳ chỉnh
                text-transform: uppercase;
                cursor: pointer;
            }
            .img{
                margin-left: -10px;
                cursor: pointer;
            }
        }
    }
    @include xs{
        display: none;
    }
}