// css header
header{
    height: var(--height-header);
    z-index: 7;
    position: relative;
    .container-fluid{
        height: 100%;
        display: flex;
        align-items: center;
        .left{
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            a{
                @include text(1.1rem, arb, 3rem, $black-cl, uppercase); // tuỳ chỉnh
            }
            .name{
                margin-right: 30px;
                text-transform: uppercase;
            }
            .img{
                margin-left: -10px;
                filter:brightness(0) saturate(100%) ;
                img{
                    margin-left: 5px;
                    transition: 0.5s;
                    transition-timing-function: ease-out;
                }
                &:hover{
                    img{
                        margin-left: 15px!important;
                        transition: 0.5s;
                        transition-timing-function: ease-out;
                    }
                }
                
            }
        }
    }
    @include xs{
        display: none;
    }
}