.contactpage{
    header{
        a{
            &:hover{
                filter: invert(100%);
            }
        }
    }
    .mainwrapper{
        background-image: url(../img/contact_background.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-attachment: fixed; 
        margin-top:calc( 0px - var(--height-header));
        .contact_info{
            height: 100%;
             .container{
                 height: 100%;
                 margin-left: 274px;
                 position: relative;
                 .title{
                     display: grid;
                     grid-template-columns: repeat(2,1fr);
                     grid-template-rows: auto;
                     padding-top: 155px;
                     h2{
                         @include text(1.2rem, arb, 0.8rem, #ab9051, uppercase); // tuỳ chỉnh
                         margin-bottom: 23px;
                    }
                    h4{
                        @include text(1.2rem, arn, 2.2rem, #ffffff, none); // tuỳ chỉNH
                        letter-spacing:1.2px;
                    }
                     .text{
                         width: 335px;
                         h4:first-of-type{
                             margin-bottom: 70px;
                         }
                     }
                     .contact{
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        grid-template-rows: auto;
                        .info{
                            &.--full{
                                grid-column: 1/3;
                                grid-row:2/3;
                            }
                        }
                     }
                 }
                 .form{
                    
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: 370px 370px;
                    p{
                        @include text(1.2rem, arn, 2.4rem, #ffffff, none); // tuỳ chỉNH
                    }
                    input, textarea{
                        outline: none;
                        border: 0;
                        background: transparent;
                        border-bottom: 1px solid #534b3e;
                        color: $white-cl;
                        width: 90%;
                        overflow:hidden;
                        line-height:2.6rem;
                    }
                    .right{
                        position: relative;
                        &:before{
                            content: " ";
                            background-color:#534b3e;
                            height:1px;
                            width:90%;
                            position: absolute;
                            top: 39%;
                        }
                        &:after{
                            content: " ";
                            background-color: #534b3e;
                            height: 1px;
                            width: 90%;
                            position: absolute;
                            top: 31%;
                            right: 50px;
                        }
                    }
                 }
                 .btn{
                     position: absolute;
                     width: 85px;
                     right: 60px;
                     bottom: 50px;
                     @include text(1rem, arb, 0.7rem, #d4cebf, uppercase); // tuỳ chỉnh
                     border: 1px solid #534b3e;
                     &:hover{
                         opacity: 0.7;
                         border: 1px solid #d4cebf;
                     }
                 }
             }
        }
    }
}